---
---

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.logo {
    width: 30px;
}

.container {
    max-width: 960px;
}

.container.gap {
    padding-top: 1.25rem;
}

.jumbotron {
    background-color: #fff !important;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron-heading {
    font-weight: 300;
}

.post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.screenshot {
    width: 100%;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
