---
---

$color-light-gray: #ccc;
$color-gray: #34313a;
$color-dark-gray: #323234;

html,
body {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.6;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', 'Monaco', 'Monospace';
    -webkit-font-smoothing: antialiased;
}

.Footer {
    padding-top: 60px;
    margin: 0 0 60px;
    font-size: 1.4rem;
    color: $color-gray;
    text-align: center;
    a {
        color: $color-gray;
    }
}

.Nav {
    padding: 20px 0;
    background: #1e1e20; /* Old browsers */
    background: -moz-linear-gradient(top, #19191a 0%, #1e1e20 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #19191a 0%,#1e1e20 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #19191a 0%,#1e1e20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    .links {
        width: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    a {
        color: $color-light-gray;
        text-decoration: none;
        font-size: 1.6rem;
        &:hover {
            color: white;
        }
    }
}

.Hero {
    overflow-y: hidden;
    margin: 0 auto;
    height: 640px;
    background: #1e1e20; /* Old browsers */
    background: -moz-linear-gradient(top, #1e1e20 0%, #4a4a4a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e1e20 0%,#4a4a4a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e1e20 0%,#4a4a4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    .logo {
        width: 100px;
        height: 100px;
        display: block;
        margin: 60px auto 0;
    }
    h1 {
        font-size: 5rem;
        text-align: center;
        font-weight: normal;
        color: white;
        margin-bottom: 20px;
    }
    .subtitle {
        text-align: center;
        font-size: 2rem;
        color: white;
        margin: 0 0 40px;
    }
    .normal {
        text-align: center;
        font-size: 1.4rem;
        color: $color-light-gray;
    }
    .download,
    .buttons {
        &.hide {
            display: none;
        }
    }
    .download-button {
        cursor: pointer;
        display: inline-block;
        padding: 15px 15px;
        margin: 0 auto;
        background-color: #4A90E2;
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        border-radius: 2px;
        border: none;
        &:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
        }
    }
    h2 {
        text-align: center;
        color: $color-gray;
        padding-top: 60px;
        margin-bottom: 60px;
    }

}

.Introduction {
    margin-top: -140px;
    .screenshot {
        max-width: 1000px;
        margin: 0 auto;
        display: block;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    }
}

.Posts {
    max-width: 800px;
    margin: 0 auto;
    .post {}
}

.Page,
.Post {
    max-width: 800px;
    margin: 0 auto;
    h1 {
        font-size: 4rem;
        color: $color-dark-gray;
    }
    .entry {
        color: $color-gray;
        font-size: 1.4rem;
    }
}

@import "highlights";