<!DOCTYPE html>
<html>

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>

<body>
    <div class="Nav">
        <div class="links">
            <a href="/">Home</a>
            <a href="https://sites.fastspring.com/wordmark/instant/wordmark">Purchase</a>
            <a href="/history">New</a>
            <a href="/blog">Blog</a>
            <a href="/faq">FAQ</a>
            <a href="https://github.com/wordmark/wordmark/issues">Issues</a>
            <a href="mailto:hi@wordmarkapp.com"><i class="ion-email"></i></a>
            <a href="https://twitter.com/dabin1990"><i class="ion-social-twitter"></i></a>
        </div>
    </div>
    <div class="Content">{{ content }}</div>
    <div class="Footer">
        Copyright © 2016 <a href="http://liuhao.im">Hao Liu</a>. All rights reserved.
    </div>
    {% include analytics.html %}
</body>

</html>