---
layout: default
---

<div class="Nav">
    <div class="links">
        <a href="/">Home</a>
        <a href="https://sites.fastspring.com/wordmark/instant/wordmark">Purchase</a>
        <a href="/history">New</a>
        <a href="/blog">Blog</a>
        <a href="/faq">FAQ</a>
        <a href="https://github.com/wordmark/wordmark/issues">Issues</a>
        <a href="mailto:hi@wordmarkapp.com"><i class="ion-email"></i></a>
        <a href="https://twitter.com/WordMarkApp"><i class="ion-social-twitter"></i></a>
    </div>
</div>
<div class="Content">{{ content }}</div>
<div class="Footer">
    Copyright © 2016 - present <a href="http://liuhao.im">Hao Liu</a>. All rights reserved.
</div>